/* dark-mode.css */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

h1 a, h1 a:visited {
  color: #ffffff;
}


body.dark-mode h1 {
  color: #ffe600; 
}

body.dark-mode h3 {
  color: #ffe600; 
}

