/* dark-mode.css */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

h1 a, h1 a:visited {
  color: #ffffff;
}

body.dark-mode h1 {
  color: #ffffff; 
}

body.dark-mode h3 {
  color: #ffffff; 
}

body.dark-mode p {
  color: #ffffff; 
}

body.dark-mode a {
  color: #ffffff; 
}

body.dark-mode th {
  color: #ffffff; 
}

body.dark-mode li {
  color: #ffffff; 
}

.toggle-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.toggle-button:hover {
  background-color: #ffffff;
  color: #1a1a1a;
  border-color: #1a1a1a;
}
