/* dark-mode.css */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.dark-mode h1 {
  color: #ffffff; 
}

body.dark-mode h3 {
  color: #ffffff; 
}

body.dark-mode p {
  color: #ffffff; 
}

body.dark-mode a {
  color: #0099ff; /* Set hyperlink color in dark mode */
}

body.dark-mode th {
  color: #ffffff; 
}

body.dark-mode li {
  color: #ffffff; 
}

@media (prefers-color-scheme: light) {
  /* Light mode styles */
  body {
    background-color: #ffffff; /* white background */
    color: #000000; /* black text */
  }
}

